server {
  listen 443;
  listen [::]:443;

  ssl on;
  ssl_certificate /etc/ssh/{{ domain }}.pem;
  ssl_certificate_key /etc/ssh/{{ domain }}_key.pem;
  ssl_client_certificate /etc/ssl/certs/cloudflare.crt;

  server_name {{ domain }};

  root /var/www/{{ domain }};

  location / {
    try_files $uri $uri/ =404;
  }
}

server {
  listen 80;
  listen [::]:80;

  server_name {{ domain }};

  return 302 https://$server_name$request_uri;
}
